*{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    background: #FFFFFF;

    width: 1512px;
    height: 100px;

    display: flex;
    align-items: center;
}
.container-content{
    display: flex;
    align-items: center;
    margin: 28px 130px 33px 198px;
}
.nav{
    margin-left: 179px;
}
.nav a{
    margin-right: 61px;

    text-decoration: none;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #222222;
    
}

/* ------------------------------------------- */

.main{
    margin: 0 auto;

    width: 1512px;

    background: #EBEBEB;
}
.main-content{  
    padding: 140px 198px;
}
.we p{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    
    color: #333333;

    margin-top: 40px;
}
.we h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    /* #BDBDBD */

    color: #BDBDBD;

}

.cards{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 360px 360px;
    gap: 30px;
    
}
.cardOne{
    background-image: url('/img/officeblue.png');
    
}

.card{
    background-image: url('./img/office.png');
}
.cardOne p {
    margin-top: 261px;
    margin-left: 45px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}
/* .cards{
    display: flex;
    flex-wrap: wrap;
}
.card{
    background-image: url('./img/office.png');
    width: 340px;
    height: 360px;
    margin: 102px 30px 0px 0px;
} */
.card p {
    margin-top: 261px;
    margin-left: 45px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;

    color: #FFFFFF;
}
/* --------------------------------------------------------- */

.section{
    margin: 0 auto;

    width: 1512px;

    background: #fafafa;
}
.section-content{
    padding: 140px 198px;
    display: flex;
}


/*  */
.section-text{
    display: block;
    width: 445px;
}
.section-text h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;

    color: #BDBDBD;

}
.section-text h3{
    margin-top: 40px;

    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}
.section-text span{
    color: #005FA3;;
}
.section-text p{
    margin-top: 60px;
}
.section-p p{

    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #000000;
}
/*  */

/*  */
.section-cards{
    display: grid;
    grid-template-columns: 255px 255px;
    grid-template-rows: 255px 255px ;
    gap: 30px;
    margin-left: 125px;
}

.section-card-item{
    background: #EBEBEB;
}

/* __________________________________ */
.section-card-item:last-child{ 
    background: #005FA3;
}
.section-card-item:last-child a{
    color: #FFFFFF;
}
.section-card-item:last-child p{
    color: #FFFFFF;
}
.section-card-item:last-child h3{
    color: #FFFFFF;
}
/* __________________________________ */

/*  */
.section-card-item h3{
    margin-top: 30px;
    margin-left: 40px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #000000;
}
.section-card-item p{
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 40px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;

    color: #000000;
}
.section-card-item a{
    margin-left: 40px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;

    color: #005FA3;
}
/*  */

/* ----------------------------------------------------- */

.footer{
    margin: 0 auto;

    width: 1512px;
    background-image: url('./img/bc.png');
    background-repeat: no-repeat;
    height: 623px
}
.footer-content{
    padding: 124px 204px;
}
/*  */
.footer-content h2{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;

    color: #FFFFFF;
    
    margin-bottom: 40px;
}
.footer-content p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;

    color: #FFFFFF;
}
.info{
    display: inline-flex;
    margin-top: 80px;
}
.info p{
    margin-right: 40px ;
}
.info img{
    margin-right: 13px;
}
/*  */

.date{
    display: flex;
    margin-left: 560px;
}
.date input{
    margin-top: -230px;
    margin-right: 30px;

    width: 255PX;
    height: 35px;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    background-color: transparent;

    color: #FFFFFF;
    font-size: 17px;
}
#name{
    position: absolute;
    margin-top: -255px;
}
#familename{
    position: absolute;
    margin-top: -255px;
    margin-left: 270px;
}
.massage{
    margin-top: -75px;
}
#three{
    margin-left: 560px;

    width: 513px;
    height: 35px;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px rgb(255, 255, 255) solid;
    background-color: transparent;

    color: #FFFFFF;
    font-size: 17px;
}
#massage{
    margin-left: 560px;
    margin-bottom: 10px;
}
.footer button{
    border-radius: 5px;
    border: none;
    margin-left: 803px;
    margin-top: 50px;
    width: 270px;
    height: 60px;
    background: #005FA3;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    
    padding-bottom: 3px;

    cursor: pointer;
}
.footer button:hover{
    border: 1px #005FA3 solid;
    transition: all 2.30s ease-in-out;
    -webkit-transition: all 5.30s ease-in-out;
    -moz-transition: all 5.30s ease-in-out;

}
/* ---------------------------------------------- */
.private{
    text-align: center;
    width:1512px;
    margin: 0 auto;
    height: 150px;
    display: flex;
}

.private p{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    
    margin-top: 70px;
}
#private{
    margin-left: 200px;
    margin-right: 700px;
}



