

$header-background: silver;
$header-text-color: white;
$header-pading: 10px;
$header-menu-width: 100%;
$logo-sizes: 80px;
$menu-font-size: 20px;

// map (like obj in js)
$colors: (
    primary: yellow,
    secodary: black,
);

